<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PRA_PIS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PRA_PIS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PRA_PIS.My.MySettings.PRAMasterDBConnString" connectionString="Data Source=192.168.55.17\SQLPRALOCAL;Initial Catalog=PRAMASTERDATABASE;Persist Security Info=True;User ID=sa;Password=pr@@dm1n2017507"
            providerName="System.Data.SqlClient" />
        <add name="PRA_PIS.My.MySettings.PRA_PROPERTYDBConnectionString"
            connectionString="Data Source=192.168.55.17\SQLPRALOCAL;Initial Catalog=PRA_PROPERTYDB;Persist Security Info=True;User ID=sa;Password=pr@@dm1n2017507"
            providerName="System.Data.SqlClient" />
        <add name="PRA_PIS.My.MySettings.PRAJO_DATABASEConnectionString"
            connectionString="Data Source=192.168.55.17\SQLPRALOCAL;Initial Catalog=PRAJO_DATABASE;Persist Security Info=True;User ID=sa;Password=pr@@dm1n2017507"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <PRA_PIS.My.MySettings>
            <setting name="PRADEV" serializeAs="String">
                <value>VON, VAN, MARK AND GENO</value>
            </setting>
            <setting name="APPVER" serializeAs="String">
                <value>PROCUREMENT INFORMATION SYSTEM</value>
            </setting>
            <setting name="PIS_DIR" serializeAs="String">
                <value>\\192.168.1.8\PRA Programs\PIS SCANNED FILES\</value>
            </setting>
            <setting name="PIS_FILENAME_PR" serializeAs="String">
                <value>TOR (PIS) - PR</value>
            </setting>
            <setting name="PIS_ITEM_DIR" serializeAs="String">
                <value>\\192.168.1.8\PRA Programs\INVENTORY_IMG\</value>
            </setting>
            <setting name="APP_VER2" serializeAs="String">
                <value>1.38</value>
            </setting>
        </PRA_PIS.My.MySettings>
    </userSettings>
    <applicationSettings>
        <PRA_PIS.My.MySettings>
            <setting name="PRAJO_DBConnectionString" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;SerializableConnectionString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;ConnectionString&gt;Data Source=192.168.1.8\SQLPRA;Initial Catalog=PRAJO_DATABASE;Persist Security Info=True;User ID=admin;Password=pr@@dm1n2017507&lt;/ConnectionString&gt;
  &lt;ProviderName&gt;System.Data.SqlClient&lt;/ProviderName&gt;
&lt;/SerializableConnectionString&gt;</value>
            </setting>
        </PRA_PIS.My.MySettings>
    </applicationSettings>
</configuration>
